@media screen and
(min-width: 480px) 
and (max-width: 767px) {

  //hamburger menu

    .Nav{
        display:none;
    }

    @keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
  
      @-webkit-keyframes bugfix {
        from {
          padding: 0;
        }
        to {
          padding: 0;
        }
      }
  
      #overlay-button {
        position: absolute;
        right: 1em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
      }
  
      #overlay-button span {
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: #9a2018;
        position: relative;
        display: block;
        transition: all 0.2s ease-in-out;
      }
  
      #overlay-button span:before {
        top: -7px;
        visibility: visible;
      }
  
      #overlay-button span:after {
        top: 7px;
      }
  
      #overlay-button span:before, #overlay-button span:after {
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background-color: $main-color;
        position: absolute;
        content: "";
        transition: all 0.2s ease-in-out;
      }
  
      #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
        background: $main-color;
      }
      
      input[type=checkbox] {
        display: none;
      }
  
      input[type=checkbox]:checked ~ #overlay {
        visibility: visible;
      }
  
      input[type=checkbox]:checked ~ #overlay-button:hover span,
      input[type=checkbox]:checked ~ #overlay-button span {
        background: transparent;
      }
  
      input[type=checkbox]:checked ~ #overlay-button span:before {
        transform: rotate(45deg) translate(5px, 5px);
        opacity: 1;
      }
  
      input[type=checkbox]:checked ~ #overlay-button span:after {
        transform: rotate(-45deg) translate(5px, -5px);
      }
  
      #overlay {
        height: 100vh;
        width: 100vw;
        background: $main-color;
        z-index: 2;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        /* This fixes scrolling issue */
        overflow: hidden;
      }
  
      #overlay.active {
        visibility: visible;
      }
  
      // #overlay ul {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: column;
      //   text-align: center;
      //   height: 100vh;
      //   padding-left: 0;
      //   list-style-type: none;
      // }
  
      // #overlay ul li {
      //   padding: .75em;
      // }
  
      // #overlay ul li a {
      //   color: white;
      //   text-decoration: none;
      //   font-size: 1.25em;
      // }
  

      //end hamburger menu

      //nav- hamburger menu
      .aboutSubShow-phone {
        display: none;
    }
    
    .aboutSubShow-phone.open {
        display: block;
    }
    
    
  .mobile ul{
        list-style: none;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        // text-align: center;
        //height: 100vh;
    }
    
    
    
  .mobile ul li{
        padding: 2rem;
        display: block;
        position: relative;
        text-decoration: none;
    }
    
  .mobile ul li a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
    
  .mobile ul li a:hover{
       font-style: italic;
    }
    
    .mobile li:hover > ul li a:hover {
        box-shadow: .05rem .0rem 4px white;
      }
    
    .mobile ul li ul li a{
        font-size: .75rem;
      }
    
    .MainNav-phone{
        //margin: 8rem 0rem 8rem 0rem; 
        width: 4rem;
    }
    
    .social-medias-phone{
        display: flex;
        justify-content: space-between;
        width: 150px;
    }
    .social-medias-phone a img{
        min-width: 20%;
        max-width: 65%;
        padding: 0;
    }
    
    .footer{
        text-align: left;
        position: absolute;
        bottom: .05rem;
        left: .5rem;
      }
    
      .footer p{
        padding-top: 1rem;
      }

      //end nav and footer

      //animation

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
      }
      
      body {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
      }
      
      .content {
        position: relative;
      }
      
      .content h2 {
        color: #fff;
        font-size: 4em;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      
      .content h2:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px $main-color;
      }
      
      .content h2:nth-child(2) {
        color: $main-color;
        animation: animate 2s ease-in-out infinite;
      }
      
      @keyframes animate {
        0%,
        100% {
          clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
          );
        }
      
        50% {
          clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
          );
        }
      }
    

      //end animation

      //main page nav img

      .main-img img
      {
      right:50px;
      min-width: 45%;
      max-width: 50%;
      z-index: -1000;
      position: absolute;
      }
      //end main page nav img



    

}